<div>
  <app-sub-header>Add CostCenter</app-sub-header>
  <div [formGroup]="costCenterForm">
    <div>
      <mat-form-field class="w-full">
        <mat-label> Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="w-full">
        <mat-label> Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>
    <div>
      <button mat-flat-button (click)="saveCostCenter()">Save</button>
    </div>
  </div>
  <div>
    <mat-list>
      @for (costCenter of costCenters(); track costCenter) {
      <mat-list-item lines="3">
        <div class="flex justify-between">
          <div class="capitalize">
            {{ costCenter.name }} @if (costCenter.totalCost) {<span>({{ costCenter.totalCost }})</span>}
          </div>
          <div>
            <button class="!p-0 !min-w-6" mat-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="reconcileCostCenter(costCenter._id)">Reconcile Cost</button>
              <button mat-menu-item>Archive</button>
            </mat-menu>
          </div>
        </div>
        <div class="capitalize">
          {{ costCenter.description }}
        </div>
      </mat-list-item>

      }
    </mat-list>
  </div>
</div>
